.file-data-display {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.file-data-display__properties > h2 {
    font: var(--h2-font);
}

.file-data-display__properties > p {
    font: var(--p-font);
}

.csv {
    width: 10rem;
}
