.latex-code {
    display: flex;
    flex-direction: column;
}

.latex-code__text {
    padding: var(--spacing-xs);

    width: 25rem;

    min-height: 20rem;
    max-height: 30rem;

    background: none;

    border-color: white;
    border-radius: 8px;

    resize: none;
    overflow-y: auto;
}

.latex-code__text:focus {
    outline: 0;
}
