* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary-color: black;
    --seconday-color: gray;
    --background-color: white;

    /* Fonts */
    --ff: "Helvetica", sans-serif;
    --title-font: bold 4rem/1em var(--ff);
    --h2-font: bold 2.5rem/1.8em var(--ff);
    --h3-font: bold 1.8rem/1.8em var(--ff);
    --p-font: bold 1.2rem/1.5em var(--ff);
    --th-font: bold 1.6rem/1.2em var(--ff);

    /* Spacing Distances */
    --spacing-xss: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.25rem;
    --spacing-xl: 1.75rem;
    --spacing-xxl: 2.5rem;
    --spacing-xxxl: 5.5rem;
    --spacing-xxxxl: 10rem;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100dvh;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
